In [57]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [89]:
company_data = pd.read_csv("company_data.csv")
 ticker_data = pd.read_csv("ticker_data.csv")

In [90]:
company_data.head()

,ticker,calendardate,assetturnover,currentratio,de,epsusd,grossmargin,netmargin,pe,price,ticker.1,name,category,sicsector,currency,location,sector
0,PG,2018-12-31,0.54,0.83,1.24,3.75,0.487,0.146,20.1,78.06,PG,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
1,PG,2017-12-31,0.54,0.88,1.16,5.80,0.500,0.236,14.5,87.15,PG,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
2,PG,2016-12-31,0.51,1.10,1.19,3.80,0.496,0.161,21.4,84.67,PG,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
3,PG,2015-12-31,0.53,1.00,1.05,2.50,0.476,0.099,30.2,78.24,PG,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
4,PG,2014-12-31,0.52,0.94,1.06,4.19,0.475,0.156,18.3,78.59,PG,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive

In [ ]:
#transform company_data
company_clean = company_data.reset_index(drop=True)
company_cols = company_clean[["ticker","calendardate","assetturnover","currentratio","de","epsusd","grossmargin",
                             "netmargin","pe","price"]]
company_cols.head()

In [ ]:
#ticker data
ticker_data.head()

In [91]:
#transform ticker data
ticker_cols = ticker_data[["ticker","name", "category","sicsector","currency","location","sector"]]
ticker_cols.head()

,ticker,name,category,sicsector,currency,location,sector
0,A,Agilent Technologies Inc,Domestic,Manufacturing,USD,California U.S.A,Healthcare
1,AA,Alcoa Corp,Domestic,Manufacturing,USD,New York U.S.A,Basic Materials
2,AAAB,Admiralty Bancorp Inc,Domestic,Finance Insurance And Real Estate,USD,Florida U.S.A,Financial Services
3,AAAGY,Altana Aktiengesellschaft,ADR,Manufacturing,EUR,Jordan,Healthcare
4,AAAP,Advanced Accelerator Applications SA,ADR,Manufacturing,EUR,France,Healthcare

In [60]:
#Create connection
rds_connection_string = "root:password123@127.0.0.1/company_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [61]:
engine.table_names()

['company', 'ticker']

In [25]:
#export company_cols table into sql
company_cols.to_sql(name='company', con=engine, if_exists='append', index=False)

In [26]:
#export ticker_cols table into sql
ticker_cols.to_sql(name='ticker', con=engine, if_exists='append', index=False)

# Used join in Mysql and joined the final data ., company_db

In [103]:
company_data = pd.read_csv("company_data.csv")
del company_data['ticker.1']

In [104]:
#create engine from project2.sqlite
engine2 = create_engine("sqlite:///company_db.sqlite")

In [105]:
conn2 = engine2.connect()

In [106]:
company_data.to_sql(name='company', con=engine2, if_exists='replace', index=False)

In [107]:
df = pd.read_sql_query("select * from company;", conn2)
count=df["ticker"].unique()
len(count)
len(df.columns)
df.head()

,ticker,calendardate,assetturnover,currentratio,de,epsusd,grossmargin,netmargin,pe,price,name,category,sicsector,currency,location,sector
0,PG,2018-12-31,0.54,0.83,1.24,3.75,0.487,0.146,20.1,78.06,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
1,PG,2017-12-31,0.54,0.88,1.16,5.80,0.500,0.236,14.5,87.15,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
2,PG,2016-12-31,0.51,1.10,1.19,3.80,0.496,0.161,21.4,84.67,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
3,PG,2015-12-31,0.53,1.00,1.05,2.50,0.476,0.099,30.2,78.24,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive
4,PG,2014-12-31,0.52,0.94,1.06,4.19,0.475,0.156,18.3,78.59,PROCTER & GAMBLE Co,Domestic,Manufacturing,USD,Ohio U.S.A,Consumer Defensive

In [ ]:
# Save references to each table

In [109]:
df_filtered=df.loc[df['ticker'].isin(["AXP",
"BA",
"CAT",
"CVX",
"DD",
"GE",
"GS",
"IBM",
"JPM",
"KO",
"MCD",
"MMM",
"MRK",
"PFE",
"TRV",
"TSLA",
"UNH",
"UTX",
"VZ",
"XOM",])]

In [114]:

df_filtered.head()
len(df_filtered["ticker"])

112

In [115]:
engine2 = create_engine("sqlite:///company_db.sqlite")

In [116]:
conn2 = engine2.connect()

In [117]:
df_filtered.to_sql(name='company', con=engine2, if_exists='replace', index=False)

In [ ]:
df = pd.read_sql_query("select * from company;", conn2)
count=df["ticker"].unique()
len(count)
len(df.columns)
df.head()